 * {
    bg0:    #100E1B;
    bg1:    #0B0A10;
    bg2:    #161420;
    bg3:    #F38BA8;
    fg0:    #F1F0F5;
    fg1:    #E2E0EC;
    fg2:    #D3D0E2;
    fg3:    #B6B1CE;
}

@import "rounded-common.rasi"
